body {
  background-color: CCCCCC;
}

#container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.textBox  {
  color: grey;
  font-size: 12px;

}

.imageRow {

}

.imageContainer  {
  display: inline-block;
  width: 150px;
  height: 200px;

  text-align: center;
  vertical-align: middle;

  position: relative;
}

.imageContainer h3 {
  margin: 0;
  line-height: 150px;
  color: white;
}

.imageContainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 180px;
  z-index: -1;
}

.buttonContainer  {
  text-align: center;

}


.clear {
    clear: both;
}


#SF {
    background-image: "img/san-francisco.jpg";
}
